<div id="carousel" class="carousel slide container" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class='active'></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <img class='slides' src="images/Chicken.JPG" alt="Chicken Wrapped Asparagus" height="480" width="640">
      <div class="carousel-caption">
	      <h3>Cook gourmet meals from your own kitchen</h3>
      </div>
    </div>

    <div class="item">
    <img class='slides' src="images/Burger.JPG" alt="Bacon Jalapeno Stuffed Burger with Oven Baked Fries" height="480" width="640s">
      <div class="carousel-caption">
	      <h3>Save time searching for what to cook</h3>
      </div>
    </div>

    <div class="item">
    <img class='slides' src="images/Pasta.JPG" alt="Rotini with Meatsauce and Garlic Bread" height="480" width="640">
      <div class="carousel-caption">
	      <h3>Impress friends and family with decadent dishes</h3>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>

  <a class="carousel-control rightArrow" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class='container seperator'>
  <div class='bodyContent col-md-4'>
    <img class='img-circle' src='http://www.boostoyshop.co.uk/image/cache/data/Preschool/Food%20Groups-140x140.jpg'>
    <h3>Save Ingredients to Your Pantry!</h3>
    <p>Search for recipes based on the ingredients you already have at home. Spend less time searching through recipes and making trips to the grocery store.</p>
  </div>

  <div class='bodyContent col-md-4'>
    <img class='img-circle' src='http://cdn8.staztic.com/app/a/2937/2937474/recipe-card-1-l-140x140.png'>
    <h3>Search database of over 1 million recipes!</h3>
    <p>Feel like searching through an enormous database of tasty recipes? Use the basic keyword search to find a recipe you would like to try out.</p>
  </div>

  <div class='bodyContent col-md-4'>
    <img class='img-circle' src='http://cdn8.staztic.com/app/i/3517/3517346/grocery-list-online-sync-1-42410-l-140x140.png'>
    <h3>Create a personalized groccery list</h3>
    <p>Find what you want to cook but do not have all the ingrdients? click the ingredients you do not have in the recipe and it will add you your grocery list.</p>
  </div>
</div>
